.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar li {
  margin: 0 1rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.joke {
  font-size: 1.4rem;
  margin: 2rem 0;
  padding: 1rem;
}

.joke:hover {
  background-color: #f5f5f5;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.pagination button {
  background: #0070f3;
  outline: none;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}
